aiohttp==3.7.4.post0
aiosignal==1.2.0
anyio==3.6.1
apischema==0.17.5
argcomplete==1.8.1
async-generator==1.10
async-timeout==3.0.1
attrs==21.4.0
base58==2.1.1
based58==0.1.1
bcrypt==3.2.0
bitarray==2.6.0
blinker==1.4
Brlapi==0.8.3
cachetools==4.2.4
certifi==2020.6.20
cffi==1.15.1
chardet==4.0.0
charset-normalizer==2.1.1
cliapp==1.20180812.1
click==8.0.3
colorama==0.4.4
command-not-found==0.3
construct==2.10.67
construct-typing==0.5.2
cryptography==3.4.8
cupshelpers==1.0
cytoolz==0.12.0
dbus-python==1.2.18
defer==1.0.6
discord==1.7.3
discord.py==1.7.3
distro==1.7.0
distro-info===1.1build1
duplicity==0.8.21
eth-abi==2.2.0
eth-account==0.5.9
eth-hash==0.5.0
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.9.5
fasteners==0.14.1
ffmpeg==1.4
Flask==2.2.2
frozenlist==1.3.1
future==0.18.2
h11==0.12.0
hexbytes==0.3.0
httpcore==0.15.0
httplib2==0.20.2
httpx==0.23.0
idna==3.3
importlib-metadata==4.6.4
ipfshttpclient==0.8.0a2
itsdangerous==2.1.2
jeepney==0.7.1
Jinja2==3.1.2
jsonrpcclient==4.0.2
jsonrpcserver==5.0.9
jsonschema==4.16.0
keyring==23.5.0
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lockfile==0.12.2
louis==3.20.0
lru-dict==1.1.8
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==3.3.6
MarkupSafe==2.1.1
monotonic==1.6
more-itertools==8.10.0
MouseInfo==0.1.3
multiaddr==0.0.9
multidict==6.0.2
netaddr==0.8.0
netifaces==0.11.0
numpy==1.23.3
oauthlib==3.2.0
olefile==0.46
OSlash==0.6.3
outcome==1.2.0
paramiko==2.9.3
parsimonious==0.8.1
pexpect==4.8.0
Pillow==9.0.1
protobuf==3.12.4
ptyprocess==0.7.0
py-solc-x==1.1.1
PyAutoGUI==0.9.53
pycairo==1.20.1
pycparser==2.21
pycryptodome==3.15.0
pycups==2.0.1
PyGetWindow==0.0.9
Pygments==2.11.2
PyGObject==3.42.1
PyJWT==2.3.0
pymacaroons==0.13.0
PyMsgBox==1.0.9
PyNaCl==1.5.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyperclip==1.8.2
PyRect==0.2.0
pyRFC3339==1.1
pyrsistent==0.18.1
PyScreeze==0.1.28
pyserum==0.5.0a0
PySocks==1.7.1
python-apt==2.3.0+ubuntu2.1
python-dateutil==2.8.1
python-debian===0.1.43ubuntu1
python3-xlib==0.15
pytweening==1.0.4
pytz==2022.1
pyxdg==0.27
PyYAML==5.4.1
reportlab==3.6.8
requests==2.25.1
rfc3986==1.5.0
rlp==2.0.1
sdkmanager==0.5.1
SecretStorage==3.3.1
selenium==4.3.0
semantic-version==2.10.0
six==1.16.0
sniffio==1.2.0
solana==0.25.1
solders==0.2.0
sortedcontainers==2.4.0
systemd-python==234
toolz==0.12.0
trio==0.21.0
trio-websocket==0.9.2
ttystatus==0.38
types-cachetools==4.2.10
typing_extensions==4.3.0
ubuntu-advantage-tools==27.10
ubuntu-drivers-common==0.0.0
ufw==0.36.1
unattended-upgrades==0.1
undetected-chromedriver==3.1.5.post4
urllib3==1.26.5
usb-creator==0.3.7
varint==1.0.2
wadllib==1.3.6
web3==5.31.0
websockets==10.3
Werkzeug==2.2.2
wsproto==1.1.0
xdg==5
xkit==0.0.0
yarl==1.8.1
youtube-dl==2021.12.17
youtube-search-python==1.6.6
zipp==1.0.0
